* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto Mono", monospace;
    color: #252525;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

body {
    place-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    /*background-image: url("/media/images/background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*Sombra en todo el texto*/
}

.banner {
    width: 17rem;
    margin: 0.5rem;
    /* invertimos el color del banner 
    filter: invert(1);*/
    /*Agregamos un halo de luz blanca en el logo del banner*/
    filter: drop-shadow(0 0 0.75rem #fff);
}

.header-container h1::after {
    content: "";
    display: block;
    height: 2px;
}

.header-nav {
    width: auto;
    float: left;
    list-style-type: none;
    justify-content: space-evenly;
}

.header-nav-item {
    font-family: monospace;
    font-size: 1.1rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 10px 0;
}

.header-nav-item:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}


.header-nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin: 1% 10%;
}

.main-content h1 {
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
}

.main-content h3 {
    font-size: .8rem;
    text-align: center;
}

.main-content a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.main-content a:hover {
    color: #000;
    text-decoration: underline;
}

.main-content img {
    width: 50px;
    align-self: center;
}

.quote-of-the-day {
    margin: 10px 20px 10px 20px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Sans serif", monospace;
    text-align: center;
    font-size: 1.7rem;
    /* text-shadow: 3px 3px 2px #474747; */
}

.video-container {
    align-self: center;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #f2f2f2;
}

footer p {
    margin: 0;
}

footer a {
    color: #555;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}