.projects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
}

.card {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 360px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    margin: 16px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #212121;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.heading {
    font-weight: 700;
    font-size: 32px;
    height: 72px;
}

.para {
    line-height: 1.5;
    height: 144px;
}

.button {
    height: 20%;
}

.btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(6,92,167,1) 30%, rgba(0,212,255,1) 77%);    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(135deg, rgb(11, 140, 253) 30%, rgba(0,212,255,1) 77%);    border-radius: 5px;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
    height: 100%;
}

.card:hover {
    box-shadow: none;
}

.card:hover .btn {
    color: #212121;
    background: #e8e8e8;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}